@font-face{
    font-family: AvenirHeavy;
    src : url('/assets/fonts/Avenir Heavy.ttf')
}   
@font-face{
    font-family: AvenirBlack;
    src : url('/assets/fonts/Avenir-Black.otf')
} 
@font-face{
    font-family: AvenirBook;
    src : url('/assets/fonts/Avenir Book.ttf')
}
@font-face{
    font-family: AvenirMedium;
    src : url('/assets/fonts/Avenir-Medium.ttf')
}
@font-face{
    font-family: Avenirlight;
    src : url('/assets/fonts/avenirltstd-light.otf')
}

.transition {
    transition: all 240ms ease-in-out;
}

.icon-card-item {
    position: absolute;
    right: 10px;
    color: #ffffff;
    top: 19px;
    font-size: 24px;
}

ion-header
{
    height: 74px;
    .menucabezera
    {
        --background: #9F2C3F;
        border-radius: 0px 0px 20px 20px;
        height: 88px;
        --border-color: #707070;
        --border-style: solid;
        --border-width: 1px;
        display: flex;
        align-items: center;
        --padding-start: 35px;
        --padding-end: 35px;
        ion-title
        {
            color: #ffffff;
            font-family: AvenirHeavy;
            font-size: 22px;
            text-align: center;
        }
        .btn-lef-header
        {
            --background: transparent;
            --box-shadow: none;
            margin: 0px;
            --padding-start: 0px;
            --padding-end: 0px;
            position: absolute;
            left: 18px;
            top: 10px;
        }
        .btn-menu
        {
            margin-right: 0px;
            position: absolute;
            right: 18px;
            top: 15px;
            ion-menu-button
            {
                color: transparent;
                position: relative;
                height: 100%;
                width: 100%;
            }
            ion-menu-button::before
            {
                content: url('/assets/imgs/grupo-724.png');
                width: 100%;
                position: absolute;
                z-index: 1;
                right: 0;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
ion-content
{
    --padding-top: 30px;
    --background: #FAFAFA;
    position: relative;
    --padding-start: 30px;
    --padding-end: 30px;
    --padding-bottom: 55px;
    display: flex;
    flex-wrap: wrap;
}
.titulo
{
    color: #000000;
    font-family: AvenirHeavy;
    font-size: 25px;
    margin-bottom: 33px;
}
ion-card
{
    margin: 0px;
    --background: transparent;
    box-shadow: none;
    ion-card-header
    {
        position: relative;
        background: #FFFFFF;
        border: 1px solid #FFC4CE;
        border-radius: 6px;
        box-shadow: 0px 15px 29px #7176A840;
        margin-bottom: 7px;
        padding-right: 33px;
        .icon-card-add
        {
            position: absolute;
            right: 10px;
            color: #000000;
            top: 19px;
            font-size: 18px;
        }
        ion-card-title
        {
            color: #000000;
            font-size: 14px;
            font-family: Avenirlight;
            .spna-fecha
            {
                font-size: 13px;
            }
        }
        .icondesactivo
        {
            display: none;
        }
        .iconactivo
        {
            display: block;
            color: #ffffff !important;
        }
    }
    .carheaderactivo
    {
        background: #9F2C3F !important;
        ion-card-title
        {
            color: #ffffff !important;
        }
    }
    ion-card-content
    {
        padding-top: 23px;
        padding-bottom: 25px;
        .p-medium
        {
            color: #4D4D4D;
            font-family: AvenirMedium;
            margin: 0px;
            font-size: 16px;
        }
        .p-descripcion
        {
            color: #4D4D4D;
            font-family: AvenirBook;
            font-size: 15px;
            margin: 0px;
        }
        .btn-reporte
        {
            --color: #9F2C3F;
            font-family: AvenirHeavy;
            margin: 0px;
            text-align: right;
            margin-top: 5px;
        }
    }
}
.btn-reporte
{
    --color: #9F2C3F;
    font-family: AvenirHeavy;
    margin: 0px;
}
@media (min-width: 411px)
{
    ion-content
    {
        --padding-start: 40px;
        --padding-end: 40px;
    }
}
@media (min-width: 480px)
{
    ion-content
    {
        --padding-start: 60px;
        --padding-end: 60px;
    }
    ion-header
    {
        .menucabezera
        {
            --padding-start: 45px;
            --oadding-end: 45px;
        }
    }
}
@media (min-width: 768px)
{
    ion-header
    {
        height: 95px;
        .menucabezera
        {
            --padding-start: 70px;
            --oadding-end: 70px;
            height: 105px;
        }
    }
    ion-content
    {
        --padding-top: 50px;
        --padding-start: 180px;
        --padding-end: 180px;
    }
}
@media (min-width: 1024px)
{
    ion-header
    {
        height: 110px;
        .menucabezera
        {
            --padding-start: 120px;
            --padding-end: 120px;
            height: 120px;
        }
    }
    ion-content
    {  
        --padding-start: 250px;
        --padding-end: 250px;
        --padding-top: 80px;
    }
}