<ion-header>
  <ion-toolbar class="menucabezera"> 
    <ion-button (click)="back ()" class="btn-lef-header">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button> 
    <ion-title>
      Acerca de la app
    </ion-title>   
    <ion-buttons slot="end" class="btn-menu">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <p class="p-descripcion">
    Ceradent App es una aplicación usada para la gestión y administración de pacientes y placas radiográficas, el cual permite compartir en tiempo real información relevante a la atención del paciente entre el centro radiográfico Ceradent y los odontólogos registrados en su sistema.
  </p>
  <p class="p-descripcion p-top p-bottom"><b>Datos de la app:</b></p>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="4" class="col-padding-cero-left">
        <p class="p-descripcion">Version:</p>
        <p class="p-descripcion">V.3.0</p>
      </ion-col>
      <ion-col size="8" class="col-padding-cero-right">
        <div>
          <p class="p-descripcion p-medium">Última actualización</p>
          <p class="p-descripcion">Enero 2021</p>
        </div>
        <div class="div-top-dis">
          <p class="p-descripcion p-medium">Disponibilidad:</p>
          <p class="p-descripcion">Android Playstore (min SKD 19) iOS AppStore</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <p class="p-descripcion p-top p-bottom"><b>Desarrollado por:</b></p>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="4" class="col-padding-cero-left border-logo">
        <img src="assets/imgs/logopro.png" class="logopro">
      </ion-col>
      <ion-col size="8" class="col-padding-cero-right">
        <div>
          <p class="p-descripcion p-medium">Empresa:</p>
          <p class="p-descripcion">PuntoPro Inversiones SRL</p>
        </div>
        <div class="div-top-dis">
          <p class="p-descripcion p-medium">Numeros de contacto:</p>
          <p class="p-descripcion">996280066 / 984780642</p>
        </div>
        <div class="div-top-dis">
          <p class="p-descripcion p-medium">Correos:</p>
          <p class="p-descripcion">eyal@puntopro.pe<br> juancarlos@puntopro.pe</p>
        </div>
        <div class="div-top-dis">
          <p class="p-descripcion p-medium">Direccion:</p>
          <p class="p-descripcion">Prog. Av. de los Inkas 1702, Sta Beatriz, Wanchaq, Cusco</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <p class="p-descripcion ion-text-center p-top-footer">© Ceradent 2020.Todos lis derechos reservados.</p>
  <!--<ion-grid>
    <ion-row>              
      <ion-col center text-center col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
        <img style="margin-top:2rem;" src="assets/imgs/logo_puntopro.png" width="30%">
      </ion-col>
      <ion-col style="padding-left:2rem; padding-right:2rem;" center text-center col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 offset-lg-3 offset-xl-3 offset-md-2>        
        <p ion-text style="font-size:1.5rem;"><b>Ceradent App</b>, es un aplicación para la gestion de placas rediográficas, la cual permite a administradores, doctores y pacientes tener al alcance una copia digital de las placas radiográficas en todo momento.</p>        
      </ion-col>
      <ion-col style="padding-left:2rem; padding-right:2rem;" center col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 offset-lg-3 offset-xl-3 offset-md-2>        
        <ion-row>
          <ion-col col-6>
          <p><b>Dirección:</b><br>Prolong. AV. Los Incas<br>1704 Santa Beatriz<br>Wanchaq - Cusco</p>
          <p><b>Celulares:</b><br>(+51)996280066<br>(+51)984780642</p>
          <p><b>Email:</b><br><a href="mailto:eyal@puntopro.pe">eyal@puntopro.pe</a><br><a href="mailto:juancarlos@puntopro.pe">juancarlos@puntopro.pe</a></p>
          </ion-col>

          <ion-col col-6>
            <p><b>Verion App:</b><br>V.2.0.1</p>
            <p><b>Actualizado en:</b><br>Junio 2019</p>
            <p><b>disponibilidad:</b><br>Android Play Store (min SDK 19)<br>IOS App Store</p>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col style="padding-left:2rem; padding-right:2rem;" center col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 offset-lg-3 offset-xl-3 offset-md-2>        
        <p ion-text style="font-size:1.1rem;">Si tienes algun proyecto, negocio, una idea o simplemente tienes dudas, visitanos o contactate con nosotros, te brindaremos las respuestas, estrategias y herramientas que necesitas y lo mejor de todo es que la consulta es GRATIS :)</p>        
      </ion-col>

    </ion-row>
  </ion-grid>-->
</ion-content>

<!--<ion-footer no-border style="border-top:solid 1px #CCCCCC">
  <ion-toolbar transparent text-center>
    <p>&copy; 2018 Ceradent<br>
    Todos los derechos reservados</p>
    <p>Desarrollado por<br>
    &copy; PuntoPro SRL</p>
  </ion-toolbar>
</ion-footer>-->
