.producto-imagen {
    width: 48px;
    height: auto;
    border-radius: 6px;
}

.producto-checkbox {
    margin: 0px !important;
    padding-right: 1rem;
}

.border-radius-8 {
    border-radius: 6px;
}

.padding-left-1rem {
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.radio-no-margin {
    margin: 0px !important; 
    padding-right: 1rem;
}

.transparent {
    background-color: transparent;
}

.margin-left-2rem {
    margin-left: 2rem;
    margin-top: 1rem;
}

.no-padding-left {
    padding-left: 0px !important;
    font-size: 1.2rem;
    opacity: 0.8;
}

.no-padding {
    padding: 0px !important;
}

.count-button {
    background-color: #F6F9F8;
    color: #333;
    box-shadow: none;
}

.no-padding-left {
    padding-left: 0px !important;
}

.button-precio {
    text-align: start;
}

.margin-left-1rem {
    margin-left: 1rem;
}

.title-label {
    font-size: 2.3rem;
    color: #549CD4;
}

.title-label ion-label {
    margin-bottom: 0px !important; 
}

.pay-button {
    background-color: #FF9F00;
    color: #ffffff;
    border-radius: 6px;
}

.transparent {
    background-color: transparent;
}

.color-red {
    color: red;
}

.pay-button {
    border-radius: 10px;
}

.pay-toolbar {
    padding-left: 4rem;
    padding-right: 4rem;
}

.message {
    line-height: 1.4;
    font-size: 1.2rem;
    margin-top: 0.8rem;
}