@font-face{
    font-family: AvenirBlack;
    src : url('/assets/fonts/Avenir-Black.otf')
}
@font-face{
    font-family: AvenirMedium;
    src : url('/assets/fonts/Avenir-Medium.ttf')
}
@font-face{
    font-family: AvenirBook;
    src : url('/assets/fonts/Avenir Book.ttf')
}
@font-face{
    font-family: AvenirHeavy;
    src : url('/assets/fonts/Avenir Heavy.ttf')
}
@font-face{
    font-family: helveticaneueregular;
    src : url('/assets/fonts/helveticaneue-regular.ttf')
}

ion-header
{
    height: 74px;
    .menucabezera
    {
        --background: #9F2C3F;
        border-radius: 0px 0px 20px 20px;
        height: 88px;
        --border-color: #707070;
        --border-style: solid;
        --border-width: 1px;
        display: flex;
        align-items: center;
        --padding-start: 35px;
        --padding-end: 35px;
        position: relative;
        ion-title
        {
            color: #ffffff;
            font-family: AvenirHeavy;
            font-size: 22px;
            text-align: center;
        }
        .btn-lef-header
        {
            --background: transparent;
            --box-shadow: none;
            margin: 0px;
            --padding-start: 0px;
            --padding-end: 0px;
            position: absolute;
            left: 18px;
            top: 10px;
        }
        .btn-menu
        {
            margin-right: 0px;
            position: absolute;
            right: 18px;
            top: 15px;
            ion-menu-button
            {
                color: transparent;
                position: relative;
                height: 100%;
                width: 100%;
            }
            ion-menu-button::before
            {
                content: url('/assets/imgs/grupo-724.png');
                width: 100%;
                position: absolute;
                z-index: 1;
                right: 0;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
ion-content
{
    --padding-top: 30px;
}
.titulo
{
    color: #000000;
    font-family: AvenirHeavy;
    font-size: 25px;
    margin-bottom: 14px;
}
.card-header
{
    width: 100%;
    height: 127px;
    -moz-border-radius: 0 0 35% 55%;
    -webkit-border-radius: 0 0 35% 55%;
    border-radius: 0 0 35% 55%;
    --background: #9F2C3F;
    margin: 0px;
}
.titulo-header
{
    color: #FFFFFF;
    font-family: AvenirBlack;
    margin-top: 52px;
    font-size: 26px;
}
.btn-form
{
    font-family: AvenirHeavy;
    --background: #9F2C3F;
    --background-activated: #9F2C3F;
    --border-color: #DDDDDD;
    --border-radius: 11px;
    --border-style: solid;
    --border-width: 1px;
    --color: #FFFFFF;
    font-size: 22px;
    height: 60px;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 28px;
    margin-top: 28px;
}
.car-acordion
{
    margin: 0px;
    box-shadow: none;
    border: 0px;
    ion-card-header
    {
        background-color: #FFFFFF;
        border: 1px solid #FFC4CE;
        border-radius: 11px;
        position: relative;
        padding-right: 35px;
        margin-bottom: 10px;
        ion-card-title
        {
            color: #9F2C3F;
            font-size: 17px;
            font-family: AvenirMedium;
        }
        .icon-rigth
        {
            color: #000000;
            position: absolute;
            right: 20px;
            top: 16px;
            z-index: 2;
            font-size: 20px;
            transition: all 240ms ease-in-out;
        }
        .icon-close
        {
            color: #ffffff;
            position: absolute;
            right: 20px;
            top: 16px;
            z-index: 2;
            font-size: 20px;

        }
        .desactivo
        {
            display: none;
        }
        .activo
        {
            display: block;
        }
    }
    .acitvo
    {
        background-color: #9F2C3F !important;
        ion-card-title
        {
            color: #FFFFFF !important;
        }
        ion-icon
        {
            color: #FFFFFF !important;
        }
    }
    .conten-display-none
    {
        display: none;
    }
    ion-card-content
    {
        padding-top: 23px;
        margin-bottom: 24px;
        .h6-titulo
        {
            color: #707070;
            font-family: AvenirBook;
            font-size: 17px;
            text-align: center;
        }
        .p-lugar
        {
            color: #707070;
            font-family: AvenirBook;
            font-size: 17px;
            text-align: center;
        }
        .p-paquete
        {
            color: #707070;
            font-family: AvenirBlack;
            font-size: 17px;
            text-align: center;
        }
        .p-bootom
        {
            margin-top: 29px;
        }
        .item-height-auto
        {
            height: auto !important;
        }
        ion-list-header
        {
            --color: #707070;
            font-size: 17px;
            font-family: AvenirBook;
        }
        .item-chebox
        {
            --padding-start: 0px;
            --inner-padding-end: 0px;
            height: 45px;
            display: flex;
            align-items: center;
            .label-chec
            {
                --color: #707070;
                font-size: 17px;
                font-family: AvenirBook;
                margin-left: 18px;
            }
            .label-flex
            {
                display: flex;
                align-items: center;
                .spna-left-right
                {
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
            ion-checkbox
            {
                --border-color: #707070;
                --border-style: solid;
                --border-width: 1px;
                --background-checked: #FDCC28;
                --border-color-checked: #707070;
                --border-radius: 5px;
                --size: 23px;
            }
            ion-radio
            {
                margin-left: 0px;
                margin-right: 0px;
                --color-checked: #fdcc28;
            }
        }
        .item-height-radio
        {
            height: auto !important;
        }
        .item-padding-radio
        {
            --padding-start: 20px !important;
            --inner-padding-end: 20px !important;
        }
        .div-datos
        {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 15px;
            .div-rectangulo
            {
                width: 34px;
                height: 68px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #707070;
                font-family: helveticaneueregular;
                font-size: 25px;

            }
            .div-btn
            {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                width: 262px;
                .btn-number
                {
                    width: 32.7px;
                    height: 32.7px;
                    --border-color: #707070;
                    --border-style: solid;
                    --border-width: 1px;
                    --box-shadow: none;
                    --color: #707070;
                    font-family: helveticaneueregular;
                    font-size: 13px;
                    --border-radius: 0px;
                    margin: 0px;
                }
            }
            .div-btn-left
            {
                border-right: 0px;
            }
            .div-btn-rigth
            {
                border-left: 0px;
            }
        }
        .textarea-bottom
        {
            margin-bottom: 15px;
        }
        .item-textarea
        {
            --padding-start: 0px;
            --inner-padding-end: 0px;
            .textaera-plomo
            {
                --background: #F7F7F7;
                border-radius: 11px;
                border: 1px solid #DDDDDD;
                --color: #707070;
                font-family: AvenirBook;
                font-size: 17px;
                --placeholder-color:  #707070;
                --placeholder-font-weight: 900;
                --padding-start: 20px;
                --padding-end: 20px;
                height: 99px;
            }
            .input-number
            {
                --background: #F7F7F7;
                border-radius: 11px;
                border: 1px solid #DDDDDD;
                --color: #707070;
                font-family: AvenirBook;
                font-size: 17px;
                --placeholder-color:  #707070;
                --placeholder-font-weight: 900;
                --padding-start: 20px;
                --padding-end: 20px;
                height: 55px;
            }
        }
        ion-avatar
        {
            --border-radius: 5px;
            width: 100%;
            height: 165px;
            margin-bottom: 15px;
        }
    }
}
.list-padding-left-right
{
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 30px;
}
.list-chec
{
    margin-bottom: 20px;
}
@media (min-width: 375px)
{
    .car-acordion
    {
        ion-card-content
        {
            .div-datos
            {
                .div-btn
                {
                    width: 269px;
                    .btn-number
                    {
                        width: 33.6px;
                        height: 33.6px;
                    }
                }
            }
        }
    }
}
@media (min-width: 411px)
{
    .car-acordion
    {
        ion-card-content
        {
            .div-datos
            {
                .div-btn
                {
                    width: 305px;
                    .btn-number
                    {
                        width: 38px;
                        height: 38px;
                    }
                }
            }
        }
    }
}
@media (min-width: 480px)
{
    ion-header
    {
        .menucabezera
        {
            --padding-start: 45px;
            --oadding-end: 45px;
        }
    }
    .car-acordion
    {
        ion-card-content
        {
            .div-datos
            {
                .div-btn
                {
                    width: 374px;
                    .btn-number
                    {
                        width: 46.7px;
                        height: 46.7px;
                    }
                }
            }
        }
    }
}
@media (min-width: 540px)
{
    .car-acordion
    {
        ion-card-content
        {
            .div-datos
            {
                .div-rectangulo
                {
                    width: 50px;
                }
                .div-btn
                {
                    width: 426px;
                    .btn-number
                    {
                        width: 53px;
                        height: 53px;
                    }
                }
            }
        }
    }
}
@media (min-width: 640px)
{
    .list-padding-left-right
    {
        padding-left: 150px;
        padding-right: 150px;
    }
    .car-acordion
    {
        ion-card-content
        {
            .div-datos
            {
                .div-rectangulo
                {
                    width: 30px;
                }
                .div-btn
                {
                    width: 278px;
                    .btn-number
                    {
                        width: 34px;
                        height: 34px;
                    }
                }
            }
        }
    }
}
@media (min-width: 768px)
{
    .list-padding-left-right
    {
        padding-left: 215px;
        padding-right: 215px;
        margin-top: 50px;
    }
    ion-header
    {
        height: 95px;
        .menucabezera
        {
            --padding-start: 70px;
            --oadding-end: 70px;
            height: 105px;
        }
    }
    ion-content
    {
        --padding-top: 50px;
    }
    .car-acordion
    {
        ion-card-content
        {
            .div-datos
            {
                .div-btn
                {
                    width: 268px;
                    .btn-number
                    {
                        width: 33.5px;
                        height: 33.5px;
                    }
                }
            }
        }
    }
    .btn-form
    {
        width: 30%;
        margin-left: 35%;
    }
}
@media (min-width: 1024px)
{
    .list-padding-left-right
    {
        padding-left: 300px;
        padding-right: 300px;
        margin-top: 0px;
    }
    ion-header
    {
        height: 110px;
        .menucabezera
        {
            --padding-start: 120px;
            --padding-end: 120px;
            height: 120px;
        }
    }
    ion-content
    {
        --padding-top: 80px; 
    }
    .car-acordion
    {
        ion-card-content
        {
            .div-datos
            {
                .div-btn
                {
                    width: 354px;
                    .btn-number
                    {
                        width: 44px;
                        height: 44px;
                    }
                }
            }
        }
    }
}