<!--<ion-header>
  <ion-toolbar>
    <ion-title>datos-paciente</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit ()">
    <ion-card class="card-header">
      <h1 class="ion-text-center titulo-header">Datos del paciente</h1>
    </ion-card>
  
    <ion-list class="list-padding-left-right">
      <ion-card class="car-acordion">
        <ion-card-header (click)="ver_item (1)">
          <ion-card-title>Tomografía volumétrica</ion-card-title>
          <ion-icon name="chevron-forward-outline" class="icon-rigth"></ion-icon>
        </ion-card-header>
      
        <ion-card-content *ngIf="item_01">
          <h6 class="h6-titulo">Cone beam 3d</h6>
          <p class="p-lugar">(Solo sede Wanchaq)</p>
          <ion-list class="list-chec">
            <ion-radio-group formControlName="tomografia_volumetrica_tipo">        
              <ion-item>
                <ion-label>Sin análisis (solo CD)</ion-label>
                <ion-radio slot="start" value="sin_analisis"></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>Con análisis</ion-label>
                <ion-radio slot="start" value="con_analisis"></ion-radio>
              </ion-item>
            </ion-radio-group>

            <ng-container *ngIf="form.value.tomografia_volumetrica_tipo === 'sin_analisis'">
              <ion-item lines="none" class="item-chebox">
                <ion-checkbox formControlName="senos_maxilares"></ion-checkbox>
                <ion-label class="label-chec ion-text-wrap">Senos maxilares</ion-label>
              </ion-item>

              <ion-item lines="none" class="item-chebox">
                <ion-checkbox formControlName="atm_b_abierta_b_cerrada"></ion-checkbox>
                <ion-label class="label-chec ion-text-wrap">ATM (B.abierta / B. Cerrada)</ion-label>
              </ion-item>
            </ng-container>

            <ng-container *ngIf="form.value.tomografia_volumetrica_tipo === 'con_analisis'">
              <ion-item lines="none" class="item-chebox">
                <ion-checkbox formControlName="area_patologica"></ion-checkbox>
                <ion-label class="label-chec ion-text-wrap">Área patológica</ion-label>
              </ion-item>
              
              <ion-item lines="none" class="item-chebox">
                <ion-checkbox formControlName="localizacion_conductos"></ion-checkbox>
                <ion-label class="label-chec ion-text-wrap">Localización de conducto</ion-label>
              </ion-item>
            </ng-container>      
          </ion-list>

          <div class="div-datos">
            <div class="div-rectangulo">
              D
            </div>
            <div class="div-btn div-btn-left">
              <ion-button mode="ios" (click)="select (tomografia_volumetrica_izq, '1.8')" [color]="tomografia_volumetrica_izq.get ('1.8') ? 'selected' : 'white'" class="btn-number">1.8</ion-button>
              <ion-button mode="ios" (click)="select (tomografia_volumetrica_izq, '1.7')" [color]="tomografia_volumetrica_izq.get ('1.7') ? 'selected' : 'white'" class="btn-number">1.7</ion-button>
              <ion-button mode="ios" (click)="select (tomografia_volumetrica_izq, '1.6')" [color]="tomografia_volumetrica_izq.get ('1.6') ? 'selected' : 'white'" class="btn-number">1.6</ion-button>
              <ion-button mode="ios" (click)="select (tomografia_volumetrica_izq, '1.5')" [color]="tomografia_volumetrica_izq.get ('1.5') ? 'selected' : 'white'" class="btn-number">1.5</ion-button>
              <ion-button mode="ios" (click)="select (tomografia_volumetrica_izq, '1.4')" [color]="tomografia_volumetrica_izq.get ('1.4') ? 'selected' : 'white'" class="btn-number">1.4</ion-button>
              <ion-button mode="ios" (click)="select (tomografia_volumetrica_izq, '1.3')" [color]="tomografia_volumetrica_izq.get ('1.3') ? 'selected' : 'white'" class="btn-number">1.3</ion-button>
              <ion-button mode="ios" (click)="select (tomografia_volumetrica_izq, '1.2')" [color]="tomografia_volumetrica_izq.get ('1.2') ? 'selected' : 'white'" class="btn-number">1.2</ion-button>
              <ion-button mode="ios" (click)="select (tomografia_volumetrica_izq, '1.1')" [color]="tomografia_volumetrica_izq.get ('1.1') ? 'selected' : 'white'" class="btn-number">1.1</ion-button>
              <div>&nbsp;</div>
              <ion-button mode="ios" (click)="select (tomografia_volumetrica_izq, '4.8')" [color]="tomografia_volumetrica_izq.get ('4.8') ? 'selected' : 'white'" class="btn-number">4.8</ion-button>
              <ion-button mode="ios" (click)="select (tomografia_volumetrica_izq, '4.7')" [color]="tomografia_volumetrica_izq.get ('4.7') ? 'selected' : 'white'" class="btn-number">4.7</ion-button>
              <ion-button mode="ios" (click)="select (tomografia_volumetrica_izq, '4.6')" [color]="tomografia_volumetrica_izq.get ('4.6') ? 'selected' : 'white'" class="btn-number">4.6</ion-button>
              <ion-button mode="ios" (click)="select (tomografia_volumetrica_izq, '4.5')" [color]="tomografia_volumetrica_izq.get ('4.5') ? 'selected' : 'white'" class="btn-number">4.5</ion-button>
              <ion-button mode="ios" (click)="select (tomografia_volumetrica_izq, '4.4')" [color]="tomografia_volumetrica_izq.get ('4.4') ? 'selected' : 'white'" class="btn-number">4.4</ion-button>
              <ion-button mode="ios" (click)="select (tomografia_volumetrica_izq, '4.3')" [color]="tomografia_volumetrica_izq.get ('4.3') ? 'selected' : 'white'" class="btn-number">4.3</ion-button>
              <ion-button mode="ios" (click)="select (tomografia_volumetrica_izq, '4.2')" [color]="tomografia_volumetrica_izq.get ('4.2') ? 'selected' : 'white'" class="btn-number">4.2</ion-button>
              <ion-button mode="ios" (click)="select (tomografia_volumetrica_izq, '4.1')" [color]="tomografia_volumetrica_izq.get ('4.1') ? 'selected' : 'white'" class="btn-number">4.1</ion-button>
            </div>
          </div>
          
          <div class="div-datos">
            <div class="div-btn div-btn-rigth">
              <ion-button mode="ios" (click)="select (tomografia_volumetrica_derecho, '2.1')" [color]="tomografia_volumetrica_derecho.get ('2.1') ? 'selected' : 'white'" class="btn-number">2.1</ion-button>
              <ion-button mode="ios" (click)="select (tomografia_volumetrica_derecho, '2.2')" [color]="tomografia_volumetrica_derecho.get ('2.2') ? 'selected' : 'white'" class="btn-number">2.2</ion-button>
              <ion-button mode="ios" (click)="select (tomografia_volumetrica_derecho, '2.3')" [color]="tomografia_volumetrica_derecho.get ('2.3') ? 'selected' : 'white'" class="btn-number">2.3</ion-button>
              <ion-button mode="ios" (click)="select (tomografia_volumetrica_derecho, '2.4')" [color]="tomografia_volumetrica_derecho.get ('2.4') ? 'selected' : 'white'" class="btn-number">2.4</ion-button>
              <ion-button mode="ios" (click)="select (tomografia_volumetrica_derecho, '2.5')" [color]="tomografia_volumetrica_derecho.get ('2.5') ? 'selected' : 'white'" class="btn-number">2.5</ion-button>
              <ion-button mode="ios" (click)="select (tomografia_volumetrica_derecho, '2.6')" [color]="tomografia_volumetrica_derecho.get ('2.6') ? 'selected' : 'white'" class="btn-number">2.6</ion-button>
              <ion-button mode="ios" (click)="select (tomografia_volumetrica_derecho, '2.7')" [color]="tomografia_volumetrica_derecho.get ('2.7') ? 'selected' : 'white'" class="btn-number">2.7</ion-button>
              <ion-button mode="ios" (click)="select (tomografia_volumetrica_derecho, '2.8')" [color]="tomografia_volumetrica_derecho.get ('2.8') ? 'selected' : 'white'" class="btn-number">2.8</ion-button>
              <div>&nbsp;</div>
              <ion-button mode="ios" (click)="select (tomografia_volumetrica_derecho, '3.1')" [color]="tomografia_volumetrica_derecho.get ('3.1') ? 'selected' : 'white'" class="btn-number">3.1</ion-button>
              <ion-button mode="ios" (click)="select (tomografia_volumetrica_derecho, '3.2')" [color]="tomografia_volumetrica_derecho.get ('3.2') ? 'selected' : 'white'" class="btn-number">3.2</ion-button>
              <ion-button mode="ios" (click)="select (tomografia_volumetrica_derecho, '3.3')" [color]="tomografia_volumetrica_derecho.get ('3.3') ? 'selected' : 'white'" class="btn-number">3.3</ion-button>
              <ion-button mode="ios" (click)="select (tomografia_volumetrica_derecho, '3.4')" [color]="tomografia_volumetrica_derecho.get ('3.4') ? 'selected' : 'white'" class="btn-number">3.4</ion-button>
              <ion-button mode="ios" (click)="select (tomografia_volumetrica_derecho, '3.5')" [color]="tomografia_volumetrica_derecho.get ('3.5') ? 'selected' : 'white'" class="btn-number">3.5</ion-button>
              <ion-button mode="ios" (click)="select (tomografia_volumetrica_derecho, '3.6')" [color]="tomografia_volumetrica_derecho.get ('3.6') ? 'selected' : 'white'" class="btn-number">3.6</ion-button>
              <ion-button mode="ios" (click)="select (tomografia_volumetrica_derecho, '3.7')" [color]="tomografia_volumetrica_derecho.get ('3.7') ? 'selected' : 'white'" class="btn-number">3.7</ion-button>
              <ion-button mode="ios" (click)="select (tomografia_volumetrica_derecho, '3.8')" [color]="tomografia_volumetrica_derecho.get ('3.8') ? 'selected' : 'white'" class="btn-number">3.8</ion-button>
            </div>
            <div class="div-rectangulo">
              I
            </div>
          </div>

          <ion-item class="item-textarea" lines="none">
            <ion-textarea placeholder="Observación" class="textaera-plomo" rows="3"></ion-textarea>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-card class="car-acordion">
        <ion-card-header (click)="ver_item (2)">
          <ion-card-title>Radiografias extra orales digitales</ion-card-title>
          <ion-icon name="chevron-forward-outline" class="icon-rigth"></ion-icon>
        </ion-card-header>
      
        <ion-card-content *ngIf="item_02">
          <ion-list class="list-chec">
            <ion-item lines="none" class="item-chebox">
              <ion-checkbox formControlName="panoramica_sola"></ion-checkbox>
              <ion-label class="label-chec ion-text-wrap">Panorámica sola</ion-label>
            </ion-item>
            <ion-item lines="none" class="item-chebox">
              <ion-checkbox formControlName="panoramica_con_informe"></ion-checkbox>
              <ion-label class="label-chec ion-text-wrap">Panorámica con informe</ion-label>
            </ion-item>
            <ion-item lines="none" class="item-chebox">
              <ion-checkbox formControlName="panoramica_informe_cd"></ion-checkbox>
              <ion-label class="label-chec ion-text-wrap">Panorámica con informe + CD</ion-label>
            </ion-item>
            <ion-item lines="none" class="item-chebox">
              <ion-checkbox formControlName="panoramica_periapicales_bite_wing"></ion-checkbox>
              <ion-label class="label-chec ion-text-wrap">Panorámica + 2 periapicales + 2 bite wing</ion-label>
            </ion-item>
            <ion-item lines="none" class="item-chebox">
              <ion-checkbox formControlName="radio_ext_orl_atm_b_abierta_b_cerrada"></ion-checkbox>
              <ion-label class="label-chec ion-text-wrap">ATM (B.abierta / B. Cerrada)</ion-label>
            </ion-item>
            <ion-item lines="none" class="item-chebox">
              <ion-checkbox formControlName="carpal"></ion-checkbox>
              <ion-label class="label-chec ion-text-wrap">Cerpal</ion-label>
            </ion-item>
            <ion-item lines="none" class="item-chebox">
              <ion-checkbox formControlName="carpal_con_studio"></ion-checkbox>
              <ion-label class="label-chec ion-text-wrap">Cerpal con estudio</ion-label>
            </ion-item>
            <ion-item lines="none" class="item-chebox">
              <ion-checkbox formControlName="posterio_anterior"></ion-checkbox>
              <ion-label class="label-chec ion-text-wrap">Postero - anterior</ion-label>
            </ion-item>
            <ion-item lines="none" class="item-chebox">
              <ion-checkbox formControlName="radio_ext_orl_senos_maxilares"></ion-checkbox>
              <ion-label class="label-chec ion-text-wrap">Senos maxilares</ion-label>
            </ion-item>
            <ion-item lines="none" class="item-chebox">
              <ion-checkbox formControlName="radio_ext_orl_otros"></ion-checkbox>
              <ion-label class="label-chec ion-text-wrap">Otros</ion-label>
            </ion-item>
          </ion-list>
          <ion-item *ngIf="form.value.radio_ext_orl_otros === true" class="item-textarea" lines="none">
            <ion-textarea placeholder="Especifique aqui" formControlName="radio_ext_orl_otros_texto" class="textaera-plomo" rows="3"></ion-textarea>
          </ion-item>
          <p class="p-lugar ion-text-start p-bootom">Cefalométrico / Lateral</p>
          <ion-list class="list-chec">
            <ion-item lines="none" class="item-chebox">
              <ion-checkbox formControlName="lineal_estricta"></ion-checkbox>
              <ion-label class="label-chec ion-text-wrap">Lineal estricta</ion-label>
            </ion-item>
            <ion-item lines="none" class="item-chebox">
              <ion-checkbox formControlName="lateral_7ms"></ion-checkbox>
              <ion-label class="label-chec ion-text-wrap">Lateral 7ma vertebra</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <ion-card class="car-acordion">
        <ion-card-header (click)="ver_item (3)">
          <ion-card-title>Radiografias intraorales</ion-card-title>
          <ion-icon name="chevron-forward-outline" class="icon-rigth"></ion-icon>
        </ion-card-header>
      
        <ion-card-content *ngIf="item_03">
          <ion-avatar>
            <img src="assets/imgs/radiografia.jpg">
          </ion-avatar>

          <ion-list class="list-chec">
            <ion-radio-group formControlName="radio_intra_tipo">        
              <ion-item>
                <ion-label>Bitewing</ion-label>
                <ion-radio slot="start" value="bitewing"></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>Oclusal</ion-label>
                <ion-radio slot="start" value="oclusal"></ion-radio>
              </ion-item>
            </ion-radio-group>

            <ng-container *ngIf="form.value.radio_intra_tipo === 'bitewing'">
              <ion-item lines="none" class="item-chebox">
                <ion-checkbox formControlName="bitewing_morales"></ion-checkbox>
                <ion-label class="label-chec ion-text-wrap">Morales</ion-label>
              </ion-item> 

              <ion-item style="margin-left: 1rem;" *ngIf="form.value.bitewing_morales === true" lines="none" class="item-chebox">
                <ion-checkbox formControlName="bitewing_morales_der"></ion-checkbox>
                <ion-label class="label-chec ion-text-wrap">Der</ion-label>
              </ion-item>

              <ion-item style="margin-left: 1rem;" *ngIf="form.value.bitewing_morales === true" lines="none" class="item-chebox">
                <ion-checkbox formControlName="bitewing_morales_izq"></ion-checkbox>
                <ion-label class="label-chec ion-text-wrap">Izq</ion-label>
              </ion-item>

              <ion-item lines="none" class="item-chebox">
                <ion-checkbox formControlName="bitewing_premolares"></ion-checkbox>
                <ion-label class="label-chec ion-text-wrap">Premolares</ion-label>
              </ion-item>

              <ion-item style="margin-left: 1rem;" *ngIf="form.value.bitewing_premolares === true" lines="none" class="item-chebox">
                <ion-checkbox formControlName="bitewing_premolares_der"></ion-checkbox>
                <ion-label class="label-chec ion-text-wrap">Der</ion-label>
              </ion-item>

              <ion-item style="margin-left: 1rem;" *ngIf="form.value.bitewing_premolares === true" lines="none" class="item-chebox">
                <ion-checkbox formControlName="bitewing_premolares_izq"></ion-checkbox>
                <ion-label class="label-chec ion-text-wrap">Izq</ion-label>
              </ion-item>
            </ng-container>

            <ng-container *ngIf="form.value.radio_intra_tipo === 'oclusal'">
              <ion-item lines="none" class="item-chebox">
                <ion-checkbox formControlName="oclusal_superior"></ion-checkbox>
                <ion-label class="label-chec ion-text-wrap">Superior</ion-label>
              </ion-item> 

              <ion-item lines="none" class="item-chebox">
                <ion-checkbox formControlName="oclusal_inferior"></ion-checkbox>
                <ion-label class="label-chec ion-text-wrap">Inferior</ion-label>
              </ion-item> 
            </ng-container>
          </ion-list>

          <div class="div-datos">
            <div class="div-rectangulo">
              D
            </div>
            <div class="div-btn div-btn-left">
              <ion-button mode="ios" (click)="select (radio_intra_d_01, '1.8')" [color]="radio_intra_d_01.get ('1.8') ? 'selected' : 'white'" class="btn-number">1.8</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_d_01, '1.7')" [color]="radio_intra_d_01.get ('1.7') ? 'selected' : 'white'" class="btn-number">1.7</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_d_01, '1.6')" [color]="radio_intra_d_01.get ('1.6') ? 'selected' : 'white'" class="btn-number">1.6</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_d_01, '1.5')" [color]="radio_intra_d_01.get ('1.5') ? 'selected' : 'white'" class="btn-number">1.5</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_d_01, '1.4')" [color]="radio_intra_d_01.get ('1.4') ? 'selected' : 'white'" class="btn-number">1.4</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_d_01, '1.3')" [color]="radio_intra_d_01.get ('1.3') ? 'selected' : 'white'" class="btn-number">1.3</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_d_01, '1.2')" [color]="radio_intra_d_01.get ('1.2') ? 'selected' : 'white'" class="btn-number">1.2</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_d_01, '1.1')" [color]="radio_intra_d_01.get ('1.1') ? 'selected' : 'white'" class="btn-number">1.1</ion-button>
              <div>&nbsp;</div>
              <ion-button mode="ios" (click)="select (radio_intra_d_01, '4.8')" [color]="radio_intra_d_01.get ('4.8') ? 'selected' : 'white'" class="btn-number">4.8</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_d_01, '4.7')" [color]="radio_intra_d_01.get ('4.7') ? 'selected' : 'white'" class="btn-number">4.7</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_d_01, '4.6')" [color]="radio_intra_d_01.get ('4.6') ? 'selected' : 'white'" class="btn-number">4.6</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_d_01, '4.5')" [color]="radio_intra_d_01.get ('4.5') ? 'selected' : 'white'" class="btn-number">4.5</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_d_01, '4.4')" [color]="radio_intra_d_01.get ('4.4') ? 'selected' : 'white'" class="btn-number">4.4</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_d_01, '4.3')" [color]="radio_intra_d_01.get ('4.3') ? 'selected' : 'white'" class="btn-number">4.3</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_d_01, '4.2')" [color]="radio_intra_d_01.get ('4.2') ? 'selected' : 'white'" class="btn-number">4.2</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_d_01, '4.1')" [color]="radio_intra_d_01.get ('4.1') ? 'selected' : 'white'" class="btn-number">4.1</ion-button>
            </div>
          </div>

          <div class="div-datos">
            <div class="div-btn div-btn-rigth">
              <ion-button mode="ios" (click)="select (radio_intra_i_01, '2.1')" [color]="radio_intra_i_01.get ('2.1') ? 'selected' : 'white'" class="btn-number">2.1</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_i_01, '2.2')" [color]="radio_intra_i_01.get ('2.2') ? 'selected' : 'white'" class="btn-number">2.2</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_i_01, '2.3')" [color]="radio_intra_i_01.get ('2.3') ? 'selected' : 'white'" class="btn-number">2.3</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_i_01, '2.4')" [color]="radio_intra_i_01.get ('2.4') ? 'selected' : 'white'" class="btn-number">2.4</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_i_01, '2.5')" [color]="radio_intra_i_01.get ('2.5') ? 'selected' : 'white'" class="btn-number">2.5</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_i_01, '2.6')" [color]="radio_intra_i_01.get ('2.6') ? 'selected' : 'white'" class="btn-number">2.6</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_i_01, '2.7')" [color]="radio_intra_i_01.get ('2.7') ? 'selected' : 'white'" class="btn-number">2.7</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_i_01, '2.8')" [color]="radio_intra_i_01.get ('2.8') ? 'selected' : 'white'" class="btn-number">2.8</ion-button>
              <div>&nbsp;</div>
              <ion-button mode="ios" (click)="select (radio_intra_i_01, '3.1')" [color]="radio_intra_i_01.get ('3.1') ? 'selected' : 'white'" class="btn-number">3.1</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_i_01, '3.2')" [color]="radio_intra_i_01.get ('3.2') ? 'selected' : 'white'" class="btn-number">3.2</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_i_01, '3.3')" [color]="radio_intra_i_01.get ('3.3') ? 'selected' : 'white'" class="btn-number">3.3</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_i_01, '3.4')" [color]="radio_intra_i_01.get ('3.4') ? 'selected' : 'white'" class="btn-number">3.4</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_i_01, '3.5')" [color]="radio_intra_i_01.get ('3.5') ? 'selected' : 'white'" class="btn-number">3.5</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_i_01, '3.6')" [color]="radio_intra_i_01.get ('3.6') ? 'selected' : 'white'" class="btn-number">3.6</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_i_01, '3.7')" [color]="radio_intra_i_01.get ('3.7') ? 'selected' : 'white'" class="btn-number">3.7</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_i_01, '3.8')" [color]="radio_intra_i_01.get ('3.8') ? 'selected' : 'white'" class="btn-number">3.8</ion-button>
            </div>
            <div class="div-rectangulo">
              I
            </div>
          </div>

          <div class="div-datos">
            <div class="div-rectangulo">
              D
            </div>
            <div class="div-btn div-btn-left">
              <ion-button mode="ios" (click)="select (radio_intra_d_02, '5.5')" [color]="radio_intra_d_02.get ('5.5') ? 'selected' : 'white'" class="btn-number">5.5</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_d_02, '5.4')" [color]="radio_intra_d_02.get ('5.4') ? 'selected' : 'white'" class="btn-number">5.4</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_d_02, '5.3')" [color]="radio_intra_d_02.get ('5.3') ? 'selected' : 'white'" class="btn-number">5.3</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_d_02, '5.2')" [color]="radio_intra_d_02.get ('5.2') ? 'selected' : 'white'" class="btn-number">5.2</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_d_02, '5.1')" [color]="radio_intra_d_02.get ('5.1') ? 'selected' : 'white'" class="btn-number">5.1</ion-button>
              <div>&nbsp;</div>
              <ion-button mode="ios" (click)="select (radio_intra_d_02, '8.5')" [color]="radio_intra_d_02.get ('8.5') ? 'selected' : 'white'" class="btn-number">8.5</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_d_02, '8.4')" [color]="radio_intra_d_02.get ('8.4') ? 'selected' : 'white'" class="btn-number">8.4</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_d_02, '8.3')" [color]="radio_intra_d_02.get ('8.3') ? 'selected' : 'white'" class="btn-number">8.3</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_d_02, '8.2')" [color]="radio_intra_d_02.get ('8.2') ? 'selected' : 'white'" class="btn-number">8.2</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_d_02, '8.1')" [color]="radio_intra_d_02.get ('8.1') ? 'selected' : 'white'" class="btn-number">8.1</ion-button>
            </div>
          </div>
          
          <div class="div-datos">
            <div class="div-btn div-btn-rigth">
              <ion-button mode="ios" (click)="select (radio_intra_i_02, '6.1')" [color]="radio_intra_i_02.get ('6.1') ? 'selected' : 'white'" class="btn-number">6.1</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_i_02, '6.2')" [color]="radio_intra_i_02.get ('6.2') ? 'selected' : 'white'" class="btn-number">6.2</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_i_02, '6.3')" [color]="radio_intra_i_02.get ('6.3') ? 'selected' : 'white'" class="btn-number">6.3</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_i_02, '6.4')" [color]="radio_intra_i_02.get ('6.4') ? 'selected' : 'white'" class="btn-number">6.4</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_i_02, '6.5')" [color]="radio_intra_i_02.get ('6.5') ? 'selected' : 'white'" class="btn-number">6.5</ion-button>
              <div>&nbsp;</div>
              <ion-button mode="ios" (click)="select (radio_intra_i_02, '7.1')" [color]="radio_intra_i_02.get ('7.1') ? 'selected' : 'white'" class="btn-number">7.1</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_i_02, '7.2')" [color]="radio_intra_i_02.get ('7.2') ? 'selected' : 'white'" class="btn-number">7.2</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_i_02, '7.3')" [color]="radio_intra_i_02.get ('7.3') ? 'selected' : 'white'" class="btn-number">7.3</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_i_02, '7.4')" [color]="radio_intra_i_02.get ('7.4') ? 'selected' : 'white'" class="btn-number">7.4</ion-button>
              <ion-button mode="ios" (click)="select (radio_intra_i_02, '7.5')" [color]="radio_intra_i_02.get ('7.5') ? 'selected' : 'white'" class="btn-number">7.5</ion-button>
            </div>
            <div class="div-rectangulo">
              I
            </div>
          </div>
        </ion-card-content>
      </ion-card>
      <ion-card class="car-acordion">
        <ion-card-header (click)="ver_item (4)">
          <ion-card-title>Análisis cefalométrico computarizado</ion-card-title>
          <ion-icon name="chevron-forward-outline" class="icon-rigth"></ion-icon>
        </ion-card-header>
      
        <ion-card-content *ngIf="item_04">
          <ion-list class="list-chec">
            <ion-item lines="none" class="item-chebox">
              <ion-checkbox formControlName="ricketts"></ion-checkbox>
              <ion-label class="label-chec ion-text-wrap">Ricketts</ion-label>
            </ion-item>
            <ion-item lines="none" class="item-chebox">
              <ion-checkbox formControlName="tweed"></ion-checkbox>
              <ion-label class="label-chec ion-text-wrap">Tweed</ion-label>
            </ion-item>
            <ion-item lines="none" class="item-chebox">
              <ion-checkbox formControlName="u_s_p_0_unicamp"></ion-checkbox>
              <ion-label class="label-chec ion-text-wrap">U.S.P 0- Unicamp</ion-label>
            </ion-item>
            <ion-item lines="none" class="item-chebox">
              <ion-checkbox formControlName="steiner"></ion-checkbox>
              <ion-label class="label-chec ion-text-wrap">Steiner</ion-label>
            </ion-item>
            <ion-item lines="none" class="item-chebox">
              <ion-checkbox formControlName="roth_jarabak"></ion-checkbox>
              <ion-label class="label-chec ion-text-wrap">Roth -Jarabak</ion-label>
            </ion-item>
            <ion-item lines="none" class="item-chebox">
              <ion-checkbox formControlName="bjork_jarabak"></ion-checkbox>
              <ion-label class="label-chec ion-text-wrap">Bjork - Jarabak</ion-label>
            </ion-item>
            <ion-item lines="none" class="item-chebox">
              <ion-checkbox formControlName="mc_namara"></ion-checkbox>
              <ion-label class="label-chec ion-text-wrap">Mc Namara</ion-label>
            </ion-item>
            <ion-item lines="none" class="item-chebox">
              <ion-checkbox formControlName="schwarz"></ion-checkbox>
              <ion-label class="label-chec ion-text-wrap">Schwarz</ion-label>
            </ion-item>
            <ion-item lines="none" class="item-chebox">
              <ion-checkbox formControlName="adenoides"></ion-checkbox>
              <ion-label class="label-chec ion-text-wrap">Adenoides</ion-label>
            </ion-item>
            <ion-item lines="none" class="item-chebox">
              <ion-checkbox formControlName="down"></ion-checkbox>
              <ion-label class="label-chec ion-text-wrap">Down</ion-label>
            </ion-item>
            <ion-item lines="none" class="item-chebox">
              <ion-checkbox formControlName="vto_de_ricketts"></ion-checkbox>
              <ion-label class="label-chec ion-text-wrap">Vto. De Ricketts</ion-label>
            </ion-item>

            <ion-radio-group *ngIf="form.value.vto_de_ricketts === true" formControlName="vto_de_ricketts_anios">        
              <ion-item>
                <ion-label>1 años</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>2 años</ion-label>
                <ion-radio slot="start" value="2"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label>3 años</ion-label>
                <ion-radio slot="start" value="3"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label>4 años</ion-label>
                <ion-radio slot="start" value="4"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label>5 años</ion-label>
                <ion-radio slot="start" value="5"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <ion-card class="car-acordion">
        <ion-card-header (click)="ver_item (5)">
          <ion-card-title>Exámenes complementarios</ion-card-title>
          <ion-icon name="chevron-forward-outline" class="icon-rigth"></ion-icon>
        </ion-card-header>
      
        <ion-card-content *ngIf="item_05">
          <ion-list class="list-chec">
            <ion-item lines="none" class="item-chebox">
              <ion-checkbox formControlName="fotos_extra_intraorales"></ion-checkbox>
              <ion-label class="label-chec ion-text-wrap">Fotos extra e intraorales</ion-label>
            </ion-item>

            <ion-item *ngIf="form.value.fotos_extra_intraorales === true" style="margin-left: 1rem;" lines="none" class="item-chebox">
              <ion-checkbox formControlName="fotos_extra_intraorales_standar"></ion-checkbox>
              <ion-label class="label-chec ion-text-wrap">Standar</ion-label>
            </ion-item>

            <ion-item *ngIf="form.value.fotos_extra_intraorales === true" style="margin-left: 1rem;" lines="none" class="item-chebox">
              <ion-checkbox formControlName="fotos_extra_intraorales_profesional"></ion-checkbox>
              <ion-label class="label-chec ion-text-wrap">Profesional</ion-label>
            </ion-item>

            <ion-item lines="none" class="item-chebox">
              <ion-checkbox formControlName="duplicado_estudio"></ion-checkbox>
              <ion-label class="label-chec ion-text-wrap">Duplicado de estudio y/o radiografía</ion-label>
            </ion-item>

            <ng-container *ngIf="form.value.duplicado_estudio === true">
              <ion-item class="item-textarea" lines="none">
                <ion-textarea placeholder="Especifique aqui" formControlName="duplicado_estudio_texto" class="textaera-plomo" rows="3"></ion-textarea>
              </ion-item>
            </ng-container>

            <ion-item lines="none" class="item-chebox">
              <ion-checkbox formControlName="doc_completa_orto"></ion-checkbox>
              <ion-label class="label-chec ion-text-wrap">Documentación completa para Ortodoncia</ion-label>
            </ion-item>
          </ion-list>

          <ng-container *ngIf="form.value.doc_completa_orto === true">
            <p class="p-paquete ion-text-start p-bootom">Paquetes</p>
            <ion-list class="list-chec">
              <ion-item lines="none" class="item-chebox item-height-auto">
                <ion-checkbox formControlName="doc_completa_orto_pack_1"></ion-checkbox>
                <ion-label class="label-chec ion-text-wrap">1. Radiografía panorámica + radiografía cefalométrica lateral + 1 tipo de trazado cefalométrico + CD</ion-label>
              </ion-item>
              <ion-item lines="none" class="item-chebox item-height-auto">
                <ion-checkbox formControlName="doc_completa_orto_pack_2"></ion-checkbox>
                <ion-label class="label-chec ion-text-wrap">2. Radiografía panorámica + radiografía cefalométrica lateral + 2 tipos de trazados cefalométricos + documentación membreteada para ortodoncia + CD</ion-label>
              </ion-item>
              <ion-item lines="none" class="item-chebox item-height-auto">
                <ion-checkbox formControlName="doc_completa_orto_pack_3"></ion-checkbox>
                <ion-label class="label-chec ion-text-wrap">3. Radiografía panorámica + radiografía cefalométrica lateral + 01 tipo de trazado cefalométrico + 08 fotografías documentación membreteada para ortodoncia + CD</ion-label>
              </ion-item>
              <ion-item lines="none" class="item-chebox item-height-auto">
                <ion-checkbox formControlName="doc_completa_orto_pack_4"></ion-checkbox>
                <ion-label class="label-chec ion-text-wrap">4. Radiografía panorámica + radiografía cefalométrica lateral + 01 tipo de trazado cefalométrico + 08 fotografías + Radiografía carpal + Edad ósea + documentación membreteada para ortodoncia + CD</ion-label>
              </ion-item>
              <ion-item lines="none" class="item-chebox item-height-auto">
                <ion-checkbox formControlName="doc_completa_orto_pack_5"></ion-checkbox>
                <ion-label class="label-chec ion-text-wrap">5. Radiografía panorámica + radiografía cefalométrica lateral + 01 tipo de trazado cefalométrico + 08 fotografías + Radiografía carpal + Edad ósea + documentación membreteada para ortodoncia + modelos de estudio en yeso + CD</ion-label>
              </ion-item>
            </ion-list>
          </ng-container>
        </ion-card-content>
      </ion-card>
    </ion-list>
    <ion-button class="btn-form" mode="ios">Adelante</ion-button>
  </form>
</ion-content>
