<!--<ion-header>
  <ion-toolbar>
    <ion-title>gracias</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <div class="div-icon">
    <img src="assets/imgs/Grupo-722.png" class="img-icon">
  </div>
  <h6 class="ion-text-center">Operación exitosa</h6>
  <p class="ion-text-center">
    Tu orden fue recibida correctamente
  </p>
</ion-content>
<ion-footer>
  <img src="assets/imgs/Grupo-723.png" class="img-footer">
  <img src="assets/imgs/logo-ceradent.png" class="img-logo-footer">
</ion-footer>