<ion-header>
  <ion-toolbar class="menucabezera"> 
    <ion-button class="btn-lef-header">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>   
    <ion-buttons slot="end" class="btn-menu">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="ion-text-center titulo">Seleccionar paciente</h1>
  <ion-card class="card-form">
    <ion-item *ngIf="status === 0" class="item-input" lines="none">
      <ion-input (ionChange)="changed ($event)" placeholder="DNI" [(ngModel)]="dni_search" class="input-form" type="tel"></ion-input>
    </ion-item>

    <!-- *ngIf="pacientes.length > 0" -->
    <ion-list>
      <ion-radio-group [(ngModel)]="paciente" *ngFor="let item of pacientes">
        <ion-card>
          <ion-item>
            <ion-avatar slot="start" *ngIf="item.tipo == 'adulto'">
              <img src="assets/imgs/icono_user_default.png">
            </ion-avatar>
      
            <ion-avatar slot="start" *ngIf="item.tipo == 'menor'">
              <img src="assets/imgs/child-icon.png">
            </ion-avatar>
  
            <ion-label>{{ item.nombres }} {{ item.apellidos }}</ion-label>
            <ion-radio slot="end" [value]="item"></ion-radio>
          </ion-item>
        </ion-card>
      </ion-radio-group>
    </ion-list>

    <form *ngIf="status === 2" [formGroup]="form">
      <p class="titulos-campo">Datos personales</p>
      <ion-item class="item-input" lines="none">
        <ion-input placeholder="Nombres" formControlName="nombres" class="input-form" type="text"></ion-input>
      </ion-item>

      <ion-item class="item-input" lines="none">
        <ion-input placeholder="Apellidos" formControlName="apellidos" class="input-form" type="text"></ion-input>
      </ion-item>

      <ion-item class="item-input" lines="none">
        <ion-input readonly placeholder="DNI" formControlName="dni" class="input-form" type="number"></ion-input>
      </ion-item>
    </form>
    <ion-button class="btn-form" type="submit" (click)="submit ()" [disabled]="valid_button ()" mode="ios">
      Adelante
    </ion-button>

    <ion-button *ngIf="status >= 1" class="btn-form" (click)="reset ()" mode="ios">
      Cancelar
    </ion-button>
  </ion-card>
</ion-content>
