<ion-header>
  <ion-toolbar class="menucabezera"> 
    <ion-button (click)="back ()" class="btn-lef-header">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>   
    <ion-title>
      Placas
    </ion-title>
    <ion-buttons slot="end" class="btn-menu">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
  
<ion-content>
  <div class="div-card-datos">
    <ion-card *ngFor="let servicio of listaServicios" class="carr-datos">
      <ion-item lines="none">
        <ion-avatar slot="start" class="img-circle">
          <img src="assets/adulto.png">
        </ion-avatar>
        <ion-label class="lbel-nombre"><b>{{servicio.dataServicio.nombre}}</b><br><span class="spana-fecha">Placa Ceradent</span></ion-label>
        <ion-button [disabled]="servicio.data.imagenes_url === undefined || servicio.data.imagenes_url === null" class="btncompartir" (click)="share (servicio.dataServicio)">
          <img src="assets/imgs/compartir.png">
        </ion-button>
      </ion-item>
      <ion-avatar class="img-rayox">
        <img-loader class="img-loader" *ngFor="let imagen of imagenesServicios.get (servicio.data.servicio)" [src]="imagen | async" (click)="visualizar (servicio)" (load)="onImageLoad ($event, servicio)"></img-loader>
      </ion-avatar>
    </ion-card>
  </div>

  <!-- <ion-grid>
    <ion-row>
      <ion-col *ngFor="let servicio of listaServicios" size="12" size-sm="12" size-md="6" size-lg="4" size-xl="4">
        <ion-card>
          <ion-item>
            <ion-avatar slot="start">
              <img src="assets/imgs/icono_radiografia.jpg">
            </ion-avatar>
            <ion-label>
              <h2>{{servicio.dataServicio.nombre}}</h2>
              <p>Placa Ceradent</p>
            </ion-label>

            <ion-button [disabled]="servicio.data.imagenes_url === undefined || servicio.data.imagenes_url === null" color="dark" fill="clear" (click)="share (servicio)">
              <ion-icon slot="icon-only" name="share-social"></ion-icon>
            </ion-button>
          </ion-item>
          <img-loader class="img-loader" *ngFor="let imagen of imagenesServicios.get (servicio.data.servicio)" [src]="imagen | async" (click)="visualizar (servicio)" (load)="onImageLoad ($event, servicio)"></img-loader>
        </ion-card>
      </ion-col>
    </ion-row>  
  </ion-grid>   -->
</ion-content>
