<ion-header>
  <ion-toolbar class="menucabezera"> 
    <ion-button class="btn-lef-header">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>   
    <ion-buttons slot="end" class="btn-menu">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-icon">
    <img src="assets/imgs/Grupo-722.png" class="img-icon">
  </div>
  <h6 class="ion-text-center">Operación exitosa</h6>
  <p class="ion-text-center">
    Tu orden fue recibida correctamente
  </p>
</ion-content>
<ion-footer>
  <img src="assets/imgs/Grupo-723.png" class="img-footer">
  <img src="assets/imgs/logo-ceradent.png" class="img-logo-footer">
</ion-footer>