<ion-header>
  <ion-toolbar mode="ios" class="menucabezera"> 
    <ion-button (click)="back ()" class="btn-lef-header">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title style="color: #fff">
      Reservas
    </ion-title>
    <ion-buttons slot="end" class="btn-menu">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="registrar ()">
    Reservar
  </ion-button>
  <ion-list>
    <ion-item *ngFor="let item of items" (click)="ver (item)">
      <ion-avatar slot="start">
        <img src="assets/imgs/icono_user_default.png">
      </ion-avatar>
  
      <ion-label>
        <h2><b>Paciente: {{ item.cliente_nombres }}</b></h2>
        <h4>DNI: {{ item.cliente_dni }}</h4>
        <h4>Servicios: {{ item.servicios.length }}</h4>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>