@font-face{
    font-family: AvenirHeavy;
    src : url('/assets/fonts/Avenir Heavy.ttf')
}   
@font-face{
    font-family: AvenirBlack;
    src : url('/assets/fonts/Avenir-Black.otf')
} 
@font-face{
    font-family: AvenirBook;
    src : url('/assets/fonts/Avenir Book.ttf')
}
/*.card-background-page {
    ion-card {
        position: relative;
        
    }
    
    .card-title {
        position: absolute;
        top: 65%;
        left:5%;
        font-size: 2.5em;
        width: 100%;
        font-weight: bold;
        color: #fff;
        text-shadow: 3px 3px 3px #000000;
    }
    
    .card-subtitle {
        font-size: 1.2em;
        position: absolute;
        top: 82%;
        left:5%;
        width: 100%;
        color: #fff;
        text-shadow: 1px 1px 2px #000000;
    }
}*/
ion-header
{
    height: 74px;
    .menucabezera
    {
        --background: #9F2C3F;
        border-radius: 0px 0px 20px 20px;
        height: 88px;
        --border-color: #707070;
        --border-style: solid;
        --border-width: 1px;
        display: flex;
        align-items: center;
        --padding-start: 35px;
        --padding-end: 35px;
        .btn-lef-header
        {
            --background: transparent;
            --box-shadow: none;
            margin: 0px;
            --padding-start: 0px;
            --padding-end: 0px;
        }
        .btn-menu
        {
            margin-right: 0px;
            ion-menu-button
            {
                color: transparent;
                position: relative;
                height: 100%;
                width: 100%;
            }
            ion-menu-button::before
            {
                content: url('/assets/imgs/grupo-724.png');
                width: 100%;
                position: absolute;
                z-index: 1;
                right: 0;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
ion-content
{
    --padding-top: 30px;
    --background: #FAFAFA;
    position: relative;
    --padding-start: 55px;
    --padding-end: 55px;
    --padding-bottom: 55px;
    display: flex;
    flex-wrap: wrap;
}
.titulo
{
    color: #000000;
    font-family: AvenirHeavy;
    font-size: 25px;
    margin-bottom: 33px;
}
.logo-bottom
{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 250px;
}
.div-card
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
ion-card
{
    --background: #ffffff;
    border: 1px solid #FFC4CE;
    border-radius: 6px;
    margin: 0px;
    height: 275px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 6px;
    box-shadow: 0px 15px 29px #7176A840;
    width: 100%;
    .img-icon-altura
    {
        height: 131px;
    }
    .h6-card
    {
        margin: 0px;
        color: #9F2C3F;
        font-family: AvenirBlack;
        font-size: 27px;
    }
    .p-book
    {
        color: #9F2C3F;
        font-family: AvenirBook;
        margin: 0px;
        font-size: 22px;
    }
}
@media (min-width: 411px)
{
    ion-card
    {
        height: 280px;
        padding-top: 43px;
        padding-bottom: 43px;
    }
    ion-content
    {
        --padding-start: 65px;
        --padding-end: 65px;
    }
}
@media (min-width: 480px)
{
    ion-content
    {
        --padding-start: 80px;
        --padding-end: 80px;
    }
    ion-card
    {
        height: 310px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    ion-header
    {
        .menucabezera
        {
            --padding-start: 45px;
            --oadding-end: 45px;
        }
    }
}
@media (min-width: 640px)
{
    ion-card
    {
        width: 49%;
    }
}
@media (min-width: 768px)
{
    ion-header
    {
        height: 95px;
        .menucabezera
        {
            --padding-start: 70px;
            --oadding-end: 70px;
            height: 105px;
        }
    }
    ion-content
    {
        --padding-top: 50px;
    }
}
@media (min-width: 1024px)
{
    ion-header
    {
        height: 110px;
        .menucabezera
        {
            --padding-start: 120px;
            --padding-end: 120px;
            height: 120px;
        }
    }
    ion-content
    {
        --padding-start: 180px;
        --padding-end: 180px;
        --padding-top: 80px;
    }
}