.text-danger {
    color: red;
}

.margin-left-1 {
    margin-left: 1rem;
}

.conditions {
    font-size: 15px;
    padding: 16px;
}

.conditions ion-checkbox {
    float: left;
    margin-right: 8px;
}

.conditions ion-label {
    float: left;
    width: 70%;
}

.textarea-class {
    background-color: #0000001a;
    border-radius: 3px;
}

.pay-toolbar {
    padding-left: 4rem;
    padding-right: 4rem;
}

.input-css input {
    border: 1px solid #33333329;
    border-radius: 4px;
    margin-top: 1rem;
    padding: 4px;
}

.culqi-logo {
   width: 128px; 
}

.culqi-color {
    color: #00DACA;
}

.culqi-item {
    padding-left: 12px !important;
}

.culqi-icon {
    font-size: 24px;
}

.color-link {
    color: #488aff;
}