<!-- Themes  register-flat-->
<ion-content>
  <img src="assets/imgs/grupo-817.png" width="100%" class="img-cabezera">
  <ion-grid class="ion-no-padding">
    <ion-row header align-items-start align-items-stretch class="ion-justify-content-center">
      <ion-col size="10" size-sm="7">
        <img logo src="assets/imgs/logo-cerdent.png" class="img-logo">
      </ion-col>

      <ion-col size="10" size-sm="7">
        <ion-row align-items-start>
          <ion-col size="12">
            <h1 class="tiutlo-h1"><strong>Bienvenido</strong></h1>
            <h2 class="subtitulo">Para ingresar identificate con tu numero de celular</h2>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <form *ngIf="database.apple_test === false" class="ion-no-padding" [formGroup]="phoneForm">
              <ion-item class="item-input" lines="none">
                <ion-label item-start class="label-num">+51</ion-label>
                <ion-input (keyup.enter)="login ()" formControlName="phoneNumber" clearInput type="tel" placeholder="984567213" class="input-from"></ion-input>
              </ion-item>
              <p class="ion-no-padding ion-no-margin link-numero" (click)="openExplicacion()">¿Porqué debo ingresar ni numero de celular?</p>
            </form>

            <form *ngIf="database.apple_test === true" class="ion-no-padding" [formGroup]="codigoForm">
              <ion-item class="item-input" lines="none">
                <ion-input formControlName="email" clearInput type="email" placeholder="Correo" class="input-from"></ion-input>
              </ion-item>

              <ion-item style="margin-top: 1rem;" class="item-input" lines="none">
                <ion-input formControlName="password" clearInput type="password" placeholder="Contraseña" class="input-from"></ion-input>
              </ion-item>
            </form>
          </ion-col>

          <ion-col size="12">
            <ion-col size="12" class="ion-no-padding">
              <ion-button *ngIf="database.apple_test === false" class="btn-login" [disabled]="!phoneForm.valid" full text-uppercase (click)="login ()">
                Adelante
              </ion-button>

              <ion-button *ngIf="database.apple_test === true" class="btn-login" style="margin-top: 1rem !important" [disabled]="!codigoForm.valid" full text-uppercase (click)="onSubmit ()">
                Adelante
              </ion-button>
            </ion-col>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


