<ion-app>
  <ion-menu side="end" type="overlay" menuId="menu" contentId="menu">
    <!--<ion-header>
      <ion-toolbar class="user-profile">
  
      <ion-grid>
          <ion-row>
          <ion-col size="4">
              <div class="user-avatar">
                  <img src="assets/imgs/icono_user_default.png">
              </div>
          </ion-col>
          <ion-col class="ion-padding-top" size="8">
              <h2 ion-text class="no-margin bold text-white">
              {{ (usuario | async)?.nombres}}
              </h2>
              <span ion-text color="light" *ngIf="permisos!=null">{{permisos.rol}}</span>&nbsp;<span ion-text color="light" *ngIf="permisos!=null && permisos.rol=='Doctor'">{{(usuario | async)?.puntaje}} pts.</span>
          </ion-col>
          </ion-row>
  
          <ion-row no-padding class="other-data">
          <ion-col no-padding class="column">
              <ion-button style="width:90%;" ion-button icon-left  small round color="dark" menuClose (click)="openCeradent()">
              CERADENT
              </ion-button>
          </ion-col>
          <ion-col no-padding class="column">
              <ion-button style="width:90%;" ion-button icon-left small  round color="danger" menuClose (click)="logout()">
              <ion-icon name="log-out"></ion-icon>
              Salir
              </ion-button>
          </ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>
    </ion-header>-->
  
    <ion-content style="position: relative;">  
      <img src="assets/imgs/lgomenu.png" class="img-absolute">
      <ion-button class="btnmenu"><ion-icon name="close-sharp"></ion-icon></ion-button>
      <ion-list class="user-list">
        <ion-menu-toggle auto-hide="false">
          <ion-item (click)="openInicio()" class="item-border-bottom">
            <img src="assets/imgs/menu-dos.png" class="img-icon">
            <ion-label>Inicio</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
        <ion-menu-toggle auto-hide="false">
          <ion-item *ngIf="permisos.isdoctor == true || permisos.iscliente == true" (click)="openTienda()" class="item-border-bottom">
              <img src="assets/imgs/menu-tres.png" class="img-icon">
            <ion-label>Tienda</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item *ngIf="permisos.isdoctor == true || permisos.iscliente == true" (click)="openHistorial()" class="item-border-bottom">
              <img src="assets/imgs/menu-dos.png" class="img-icon">
            <ion-label> Historial de compras</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item *ngIf="permisos!=null && permisos.isdoctor==true" (click)="openDoctor()" class="item-border-bottom">
              <img src="assets/imgs/menu-cinco.png" class="img-icon">
            <ion-label>Doctor - Mis pacientes</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item *ngIf="permisos!=null && permisos.isdoctor==true" (click)="open_reservas ()" class="item-border-bottom">
              <img src="assets/imgs/menu-seis.png" class="img-icon">
            <ion-label>Doctor - Reservas</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <!--<ion-menu-toggle auto-hide="false">
          <ion-item *ngIf="permisos!=null && permisos.iscliente==true" (click)="openCliente()" lines="none">
            <img src="assets/imgs/lgomenu.png">
            Cliente - Mis placa
          </ion-item>
        </ion-menu-toggle>-->

        <ion-menu-toggle auto-hide="false">
          <ion-item *ngIf="permisos!=null && permisos.isgerente==true" (click)="openGerente ()" class="item-border-bottom">
              <img src="assets/imgs/menu-siete.png" class="img-icon">
            <ion-label>Gerencia</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item *ngIf="permisos!=null && permisos.isgerente==true" (click)="openClientes ()" class="item-border-bottom">
              <img src="assets/imgs/menu-ocho.png" class="img-icon">
            <ion-label>Pacientes</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item *ngIf="permisos!=null && permisos.isgerente==true" (click)="openDoctores()" class="item-border-bottom">
              <img src="assets/imgs/menu-uno.png" class="img-icon">
            <ion-label>Doctores</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item (click)="openAcerca ()" class="item-border-bottom">
              <img src="assets/imgs/menu-diez.png" class="img-icon">
            <ion-label>Acerca de</ion-label>
          </ion-item>   
        </ion-menu-toggle>   

        <ion-menu-toggle auto-hide="false">
          <ion-item (click)="logout()" lines="none" class="item-salir">
              <img src="assets/imgs/menu-once.png" class="img-icon">
            <ion-label>Salir</ion-label>
          </ion-item>   
        </ion-menu-toggle>   
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="menu"></ion-router-outlet>
</ion-app>
