ion-header
{
    height: 74px;
    .menucabezera
    {
        --background: #9F2C3F;
        border-radius: 0px 0px 20px 20px;
        height: 88px;
        --border-color: #707070;
        --border-style: solid;
        --border-width: 1px;
        display: flex;
        align-items: center;
        --padding-start: 35px;
        --padding-end: 35px;
        .btn-lef-header
        {
            --background: transparent;
            --box-shadow: none;
            margin: 0px;
            --padding-start: 0px;
            --padding-end: 0px;
        }
        .btn-menu
        {
            margin-right: 0px;
            ion-menu-button
            {
                color: transparent;
                position: relative;
                height: 100%;
                width: 100%;
            }
            ion-menu-button::before
            {
                content: url('/assets/imgs/grupo-724.png');
                width: 100%;
                position: absolute;
                z-index: 1;
                right: 0;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}