<ion-header>
  <!-- <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Historial Cliente
    </ion-title>    
  </ion-toolbar> -->
  <ion-toolbar class="menucabezera"> 
    <ion-button (click)="back ()" class="btn-lef-header">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>   
    <ion-title>
      Lista de Pacientes
    </ion-title> 
    <ion-buttons slot="end" class="btn-menu">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="ion-text-center p-buscar p-botttom">Buscar por</p>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-end">
        <p class="p-buscar">DNI</p>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-toggle (ionChange)="segmentChanged ($event)" [(ngModel)]="segment_value" mode="ios"></ion-toggle>
      </ion-col>
      <ion-col class="ion-text-start">
        <p class="p-buscar">NOMBRE</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div style="margin-top: 6px; margin-bottom: 6px;">
    <ion-item *ngIf="segment_value === false" lines="none" class="item-buscard">
      <ion-input type="tel" [(ngModel)]="dni_search" placeholder="Busqueda por DNI" class="input-buscar"></ion-input>
      <ion-button (click)="buscar_dni ()" [disabled]="dni_search === ''" class="btn-buscardor"><ion-icon name="search-sharp" class="icon-buscador"></ion-icon></ion-button>
    </ion-item>
  
    <ion-row *ngIf="segment_value === true" class="filters ion-align-items-center">
      <ion-col class="col-with-arrow ion-no-padding" (click)="slidePrev()" size="1">
        <ion-icon *ngIf="showLeftButton" name="chevron-back-circle-sharp" class="icon-slider"></ion-icon>
      </ion-col>
      <ion-col class="ion-no-padding" size="10">
        <ion-slides (ionSlideDidChange)="slideChanged ()" [options]="slideOpts">
          <ion-slide *ngFor="let letraa of letras" (click)="filterData(letraa)">
            <p style="font-size: 16px;" [class.selected]="letraSeleccionada === letraa" class="p-colo-slider">{{ letraa }}</p>
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col class="ion-no-padding col-with-arrow" (click)="slideNext()" size="1">
          <ion-icon *ngIf="showRightButton" name="chevron-forward-circle-sharp" class="icon-slider"></ion-icon>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="listaClientes_bak.length > 0">
    <ion-item *ngIf="segment_value === true && listaClientes_bak.length > 0"  lines="none" class="item-buscard">
      <ion-input (ionInput)="onInput($event)" type="search" placeholder="Buscar por nombre" class="input-buscar"></ion-input>
    </ion-item>

    <div class="div-card-datos">
      <ion-card *ngFor="let cliente of listaClientes | orderBy: 'nombres'" class="carr-datos" (click)="seleccionarCliente(cliente.data.usuario)">
        <ion-item lines="none">
          <ion-avatar slot="start" *ngIf="cliente.dataCliente.tipo == 'adulto'">
            <img src="assets/adulto.png">
          </ion-avatar>
    
          <ion-avatar slot="start" *ngIf="cliente.dataCliente.tipo == 'menor'">
            <img src="assets/bebe.png">
          </ion-avatar>
        
          <ion-label class="lbel-nombre">
            {{cliente.dataCliente.nombres}} {{cliente.dataCliente.apellidos}}
          </ion-label>
        </ion-item>
        <ion-grid style="padding-left: 6px;" class="ion-padding-start ion-padding-end margin-top-grid">
          <ion-row>
            <ion-col *ngIf="cliente.dataCliente.tipo=='adulto'" size="12" class="ion-no-padding">
              <ion-row>
                <ion-col size="5" class="ion-no-padding">
                  <p class="p-medium">Telefono:</p>
                </ion-col>
                <ion-col size="7" class="col-cero-padding-top">
                  <p class="p-descripcion">{{ cliente.dataCliente.telefono }}</p>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col *ngIf="cliente.dataCliente.tipo=='menor'" size="12" class="ion-no-padding">
              <ion-row>
                <ion-col size="5" class="ion-no-padding">
                  <p class="p-medium">DNI:</p>
                </ion-col>
                <ion-col size="7" class="col-cero-padding-top">
                  <p class="p-descripcion">{{ cliente.dataCliente.dni }}</p>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
    
    <!-- <ion-card *ngFor="let cliente of listaClientes | orderBy: 'nombres'" class="carr-datos" (click)="seleccionarCliente (cliente.data.usuario)">
      <ion-item lines="none">
        <ion-avatar slot="start" *ngIf="cliente.dataCliente.tipo == 'adulto'">
          <img src="assets/imgs/icono_user_default.png">
        </ion-avatar>
  
        <ion-avatar slot="start" *ngIf="cliente.dataCliente.tipo == 'menor'">
          <img src="assets/imgs/child-icon.png">
        </ion-avatar>
  
        <ion-label class="lbel-nombre">
          {{cliente.dataCliente.nombres}} {{cliente.dataCliente.apellidos}}
        </ion-label>
      </ion-item>
      <ion-grid style="padding-left: 6px;" class="ion-padding-start ion-padding-end margin-top-grid">
        <ion-row>
          <ion-col *ngIf="cliente.dataCliente.tipo=='adulto'" size="12" class="ion-no-padding">
            <ion-row>
              <ion-col size="3" class="ion-no-padding">
                <p class="p-medium">Telefono:</p>
              </ion-col>
              <ion-col size="9" class="col-cero-padding-top">
                <p class="p-descripcion">{{ cliente.dataCliente.telefono }}</p>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col *ngIf="cliente.dataCliente.tipo=='menor'" size="12" class="ion-no-padding">
            <ion-row>
              <ion-col size="3" class="ion-no-padding">
                <p class="p-medium">DNI:</p>
              </ion-col>
              <ion-col size="9" class="col-cero-padding-top">
                <p class="p-descripcion">{{ cliente.dataCliente.dni }}</p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card> -->
  </div>


  <!-- ion-grid>
    <ion-list *ngIf="listaClientes.length > 0">
      <ion-item>
        <ion-searchbar *ngIf="segment_value === 'segment_value'" mode="ios" (ionInput)="onInput($event)" style="width:100%; max-width:100%"></ion-searchbar>
      </ion-item>
      
      <ion-item *ngFor="let cliente of listaClientes | orderBy: 'nombres'" (click)="seleccionarCliente(cliente.data.usuario)">
        <ion-avatar slot="start" *ngIf="cliente.dataCliente.tipo=='adulto'">
          <img src="assets/imgs/icono_user_default.png">
        </ion-avatar>

        <ion-avatar slot="start" *ngIf="cliente.dataCliente.tipo=='menor'">
          <img src="assets/imgs/child-icon.png">
        </ion-avatar>

        <ion-label class="text-wrap">
          <p text-wrap>{{cliente.dataCliente.nombres}} {{cliente.dataCliente.apellidos}}</p>
          <p *ngIf="cliente.dataCliente.tipo=='adulto'">
            Cel.: {{ cliente.dataCliente.telefono}}
          </p>
          <p *ngIf="cliente.dataCliente.tipo=='menor'">
            DNI: {{ cliente.dataCliente.dni}}
          </p>
        </ion-label>
      </ion-item>                
    </ion-list>

    <!-- <ion-card *ngIf="datosCliente">
      <ion-row>
        <ion-col size="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
          <ion-item>
            <ion-avatar slot="start">
              <img src="assets/imgs/icono_user_default.png">
            </ion-avatar>
            
            <ion-label>
              <h2 class="ion-text-wrap">{{datosCliente[0]?.nombres}} {{datosCliente[0].apellidos}}</h2>                    
              <p style="color:#999999;">cel. {{datosCliente[0]?.telefono}}</p>
              <p style="color:#999999;">email: {{datosCliente[0]?.email}}</p>
              <p style="color:#999999;">DNI: {{datosCliente[0]?.dni}}</p>
              <p style="color:#999999;" *ngIf="datosCliente[0]?.dataNumero!=undefined">#Veces atendido: {{datosCliente[0]?.dataNumero.nro_placas}}</p>
              <p style="color:#999999;" *ngIf="datosCliente[0]?.dataNumero==undefined">#Veces atendido: 0</p>    
            </ion-label>        
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-row *ngIf="historialCliente">
      <ion-col size="12" center text-center color="dark"><h2>Historial cliente</h2></ion-col>
      <ion-col *ngFor="let item of historialCliente | async | orderBy:'fecha':true" size="12" size-sm="12" size-md="6" size-lg="4" size-xl="4">
        <ion-card>
          <ion-item>
            <ion-avatar slot="start">
              <img src="assets/imgs/icono_user_default.png">
            </ion-avatar>
            <ion-label>
              <h2>{{item.nombre_cliente}}</h2>
            <p>{{mostrarFecha(item.fecha)}}</p>
            </ion-label>
          </ion-item>
          <img (tap)="mostrarPlacas(item.data.placa)" src="assets/imgs/radiografia.jpg"/>
          <ion-card-content>
            <p class="ion-text-wrap"><b>Doctor:</b> {{item.nombre_doctor}}  <span *ngIf="item.puntos_ganados>0" style="color:#32db64;">+{{item.puntos_ganados}} pts.</span>  <span *ngIf="item.puntos_usados>0" style="color:#f53d3d;">-{{item.puntos_usados}} pts.</span></p>
            <p class="ion-text-wrap">Atendido en: <b>Ceradent</b> - {{item.nombre_sucursal}}</p>
          </ion-card-content>    
          <ion-row> 
            <ion-col *ngIf="item.duplicado">
              <button ion-button icon-start clear small color="dark">                
                <div>Duplicado</div>
              </button>
            </ion-col>   
            <ion-col *ngIf="item.descuento>0">
              <button tooltip="Sustento descuento: {{item.motivo_descuento}}" positionV="top" arrow ion-button icon-start clear small color="danger">  
                <ion-icon color="danger" name="arrow-round-down"></ion-icon>              
                <div >- S/.{{item.descuento}}</div>
              </button>
            </ion-col>                       
            <ion-col right text-right>
              <button (tap)="mostrarPlacas(item.data.placa)" ion-button icon-start clear small>
                <ion-icon name="albums"></ion-icon>
                <div>ver Placas</div>
              </button>
            </ion-col>            
          </ion-row>      
        </ion-card>  
      </ion-col>
    </ion-row>
  </ion-grid-->
</ion-content>
