<ion-header>
  <ion-toolbar mode="ios" class="menucabezera"> 
    <!-- <ion-button class="btn-lef-header">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>-->
    <ion-title>
      CERADENT
    </ion-title>
    <ion-buttons slot="end" class="btn-menu">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/imgs/logo-dos-ceradent.png" class="logo-bottom">
  <h1 class="ion-text-center titulo">Bienvenido</h1>
  <div class="div-card">
    <ion-card *ngIf="isDoctor === true" (click)="navegarDoctor ()">
      <img src="assets/imgs/Rfc2rI.png" class="img-icon-altura">
      <h6 class="h6-card">Doctores</h6>
      <p class="p-book">Ver pacientes</p>
    </ion-card>
    <ion-card *ngIf="isGerente === true" (click)="navegarGerencia ()">
      <img src="assets/imgs/qzhbZO.png" class="img-icon-altura">
      <h6 class="h6-card">Gerencia</h6>
      <p class="p-book">Gerencia</p>
    </ion-card>
  </div>
</ion-content>
